<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SpringMVC0707</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 서블릿 매핑 -->
	<servlet>
		<servlet-name>babo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 개발자가 스프링 설정파일명을 별도로 명시하지 않으면 스프링 자체적으로 파일명을 만들되 다음과 같은
		규칙으로 생성한다..
		서블릿이름-servlet.xml
		 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>babo</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>


