<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store">

	<insert id="insert" parameterType="Store">
		insert into store(store_id, addr1,title,content,mapx ,mapy ,firstimage) 
		values(seq_store.nextval, #{addr1},#{title},#{content},#{mapx},#{mapy},#{firstimage})
	</insert>
	
	<select id="selectAll" resultType="Store">
		select * from store
	</select>
</mapper>	