<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>site0622</display-name>

	<!--  서블릿 매핑 -->
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.board.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/board/regist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.board.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/board/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.board.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/board/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checkIdServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.member.CheckIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkIdServlet</servlet-name>
		<url-pattern>/member/idcheck</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.member.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/member/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>writeServlet</servlet-name>
		<servlet-class>com.koreait.site0622.controller.news.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeServlet</servlet-name>
		<url-pattern>/news/regist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registComments</servlet-name>
		<servlet-class>com.koreait.site0622.controller.comments.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registComments</servlet-name>
		<url-pattern>/comments/regist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listComments</servlet-name>
		<servlet-class>com.koreait.site0622.controller.comments.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listComments</servlet-name>
		<url-pattern>/comments/list</url-pattern>
	</servlet-mapping>
	
</web-app>