<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.koreait.site0622.model.domain.Board" 			alias="Board"/>
		<typeAlias type="com.koreait.site0622.model.domain.Member" 		alias="Member"/>
		<typeAlias type="com.koreait.site0622.model.domain.Dept" 			alias="Dept"/>
		<typeAlias type="com.koreait.site0622.model.domain.Emp" 			alias="Emp"/>
		<typeAlias type="com.koreait.site0622.model.domain.News" 			alias="News"/>
		<typeAlias type="com.koreait.site0622.model.domain.Comments" 	alias="Comments"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jndi/mysql"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/koreait/site0622/model/mybatis/BoardMapper.xml" />
		<mapper resource="com/koreait/site0622/model/mybatis/MemberMapper.xml" />
		<mapper resource="com/koreait/site0622/model/mybatis/DeptMapper.xml" />
		<mapper resource="com/koreait/site0622/model/mybatis/EmpMapper.xml" />
		<mapper resource="com/koreait/site0622/model/mybatis/NewsMapper.xml" />
		<mapper resource="com/koreait/site0622/model/mybatis/CommentsMapper.xml" />
	</mappers>
</configuration>







