<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="News">
	<insert id="insert" parameterType="News">
		insert into news(title,writer,content) values(#{title},#{writer},#{content})
	</insert>
	
	<!-- 내일아침에 조인할 예정...지금은 그냥 일반select  -->
	<resultMap type="News" id="newsComments">
		<id 		column="news_id" 		property="news_id"/>
		<result 	column="title" 			property="title"/>
		<result 	column="cnt" 				property="cnt"/>
		<result 	column="writer" 			property="writer"/>
		<result 	column="content" 		property="content"/>
		<result 	column="regdate" 		property="regdate"/>
		<result 	column="hit" 				property="hit"/>
	</resultMap>
	
	<!-- 공통 select -->
	<sql id="selectCommon">
		select news_id, title, writer, content, regdate, hit
		from news
	</sql>
	
	<!-- 목록가져오기  -->
	<select id="selectAll" resultMap="newsComments">
		select n.news_id as news_id, count(c.comments_id) as cnt, title, writer, regdate, hit 
		from news n left outer join  comments c
		on n.news_id=c.news_id
		group by n.news_id, title, writer, regdate, hit		 
		order by news_id desc
	</select>
	
	<!-- 한건 가져오기 -->
	<select id="select" parameterType="int" resultType="News">
		<include refid="selectCommon"/>
		where news_id=#{news_id}
	</select>

	
</mapper>







