<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>springmvc0715</display-name>


	<!-- 필터 설정: 대왕 서블릿이 요청을 처리하기전에 전처리할 로직이 있다면 필터에게 맡길 수 있다.
	우리의 경우 모든 요청시 전송되는 파라미터에 대해 케릭터 인코딩처리를 하겠다  -->
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>		
		</init-param>
	</filter>
		
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
		
	<!-- 스프링의 요청을 받는 서블릿 매핑 
		이 서블릿마다 1:1 대응하는 ApplicationContext 즉 스프링 컨테이너가 존재함..
	-->
	
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
</web-app>