<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- 서블릿 매핑  -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>site0617.gallery.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>site0617.gallery.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>photoServlet</servlet-name>
		<servlet-class>site0617.photo.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photoServlet</servlet-name>
		<url-pattern>/photo/upload</url-pattern>
	</servlet-mapping>
	
</web-app>





