<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.koreait.shoppingmall.domain.Admin" 					alias="Admin"/>
		<typeAlias type="com.koreait.shoppingmall.domain.TopCategory" 			alias="TopCategory"/>
		<typeAlias type="com.koreait.shoppingmall.domain.TopCategoryCount" 	alias="TopCategoryCount"/>
		<typeAlias type="com.koreait.shoppingmall.domain.SubCategory" 			alias="SubCategory"/>
		<typeAlias type="com.koreait.shoppingmall.domain.Board" 					alias="Board"/>
		<typeAlias type="com.koreait.shoppingmall.domain.Product" 				alias="Product"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/koreait/shoppingmall/mybatis/AdminMapper.xml" />
		<mapper resource="com/koreait/shoppingmall/mybatis/TopCategoryMapper.xml" />
		<mapper resource="com/koreait/shoppingmall/mybatis/SubCategoryMapper.xml" />
		<mapper resource="com/koreait/shoppingmall/mybatis/BoardMapper.xml" />
		<mapper resource="com/koreait/shoppingmall/mybatis/ProductMapper.xml" />
	</mappers>
</configuration>